input {
  color: #aaa;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #010101;
  border-radius: 6px;
  width: 279px;
}
.search{
  text-align: center;
}