input {
  color: #aaa;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 2px solid #202329;
  border-radius: 2px;
  width: 279px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}
.search{
  text-align: center;
}
.TodoSearch::placeholder {
  color: #A5A5A5;
  font-family: 'Montserrat';
  font-weight: 400;
}

input:focus {
  outline-color: #61DAFA;
}