.todo-counter {
  color: #1e1e1f;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 48px;
}
.todo-counter--loading{
  opacity: 25%;
}
span{
    font-weight: bold;
}