*{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
#root {
  position: relative;
  min-height: 100vh;
}
.app-container{
  position: relative;
}
body {
  background: #F2F4F5;
  color: #1E1E1F;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}